<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/87271c49-dc91-48f0-bd47-d97679343051/resourcegroups/DGMApp/providers/Microsoft.Web/sites/WebAPI2TutorialClaseDGM2018</ResourceId>
    <ResourceGroup>DGMApp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://webapi2tutorialclasedgm2018.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>webapi2tutorialclasedgm2018.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebAPI2TutorialClaseDGM2018</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WebAPI2TutorialClaseDGM2018</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WebAPI2TutorialClaseDGMContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:webapi2tutorialclasedgm2018dbserver.database.windows.net,1433;Initial Catalog=WebAPI2TutorialClaseDGM2018_db;User ID=DiegoGarzon@webapi2tutorialclasedgm2018dbserver;Password=W00dst0ck69" Name="Data Source=tcp:webapi2tutorialclasedgm2018dbserver.database.windows.net,1433;Initial Catalog=WebAPI2TutorialClaseDGM2018_db;User Id=DiegoGarzon@webapi2tutorialclasedgm2018dbserver;Password=W00dst0ck69" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|WebAPI2TutorialClaseDGMContext-20180403183357.mdf;Initial Catalog=WebAPI2TutorialClaseDGMContext-20180403183357;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WebAPI2TutorialClaseDGMContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=WebAPI2TutorialClaseDGMContext-20180403183357; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|WebAPI2TutorialClaseDGMContext-20180403183357.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="WebAPI2TutorialClaseDGMContext-Web.config Connection String">
      <ParameterValue>data source=tcp:webapi2tutorialclasedgm2018dbserver.database.windows.net,1433;initial catalog=WebAPI2TutorialClaseDGM2018_db;user id=DiegoGarzon@webapi2tutorialclasedgm2018dbserver;password=W00dst0ck69;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>